{{> head }}

{{> navbar }}

<div class="row">
        <div class="col-8">
            <h1>Nuestra Cara</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui est harum odio similique reprehenderit vel ab minus sit tempora numquam mollitia, iure voluptate alias atque, expedita tempore exercitationem facilis dolores!</p>
        </div>
        <div class="col-4">
            <img src="assets/img/nevada_bolivar_20140829.jpg" alt="" class="img-thumbnail">
        </div>
</div>

{{> footer }}